body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 30px auto;
    background-color: rgba(6, 155, 229, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

h1{
    text-align: center;
    color: aqua;
}

input, button{
    margin: 5px 0;
    padding: 8px;
    font-size: 16px;
}

button{
    background-color: chartreuse;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(2, 104, 2);
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

td{
    background-color: #eee;
    cursor: pointer;
    color: blue

}

.edit:hover{
    color: darkorange;
}

.delete:hover{
    color: red;
}